@tailwind base;
@tailwind components;
@tailwind utilities;

#weglot-switcher-1 {
  display: none;
}

.thumbs {
  --swiper-navigation-color: #f93a97; /* Default color */
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
